[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/08_mystring_vs.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/work08.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/08_mystring_systems.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_08_mystring.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/08_mystring.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/08_mystring.git
