[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/08_mystring_vs.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/work08.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/08_mystring_systems.git
