[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/08_mystring_vs.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/work08.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/08_mystring_systems.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_08_mystring.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/08_mystring.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/08_mystring.git
[submodule "haoGan"]
	path = haoGan
	url = https://github.com/haotianGan/08_strings
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/-08_mystring_mks.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work08_mystring.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/08_mystring.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/08_mystring.git
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-08_mystring.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/08_mystring_vj.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/08_mystring_J.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/08_mystring
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_08_mystring.git
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/08_mystring.git
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/08_mystring_mks.git
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/08_mystring.git
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/homework8
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/08_Mystring.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/08_mystring.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/08_mystring_zhangAle
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_08_mystring.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_08_mystring.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work08.git
